.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}

.headhome {
  background: #6f00ff;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding: 50px;
}

.titleportfoil {
  display: flex;
  flex-direction: column;
  align-items: start;

  h1 {
    font-size: 150px;
    font-weight: 600;
    color: white;
  }

  span {
    font-size: 30px;
    color: white;
  }
}

.printbutton {
  background-color: transparent;
  border: 1px solid white;
  border-radius: calc(var(--space) * 2);
  color: white;
  display: flex;
  padding: 5px 15px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s;
  font-weight: inherit;
  > svg {
    height: var(--space);
    margin: 0 0.5rem;
    transition: 0.4s;
  }
  &:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
    > svg {
      fill: var(--light-color);
    }
  }
}

.print-button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: calc(var(--space) * 2);
  display: flex;
  padding: var(--space);
  cursor: pointer;
  opacity: 0.8;
  transition: 0.4s;
  font-weight: inherit;
  color: white;
  > svg {
    height: var(--space);
    margin: 0 0.5rem;
    transition: 0.4s;
  }
  &:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
    > svg {
      fill: var(--light-color);
    }
  }
}

.headhome {
  a {
    border-bottom: none;
    text-decoration: none;
  }
}

.infosection {
  padding: 0 50px;
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.divimg {
  width: 48%;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: auto;
  // height: 300px; /* Establece una altura fija para el contenedor */
}

.infoimgstyles {
  padding: 10px;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;

  a {
    border-bottom: none;
  }
}

.titleimginfo {
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.gridimage {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(450px, 1fr)
  ); /* Mínimo de 250px por columna */
  gap: 16px; /* Espaciado entre las imágenes */
  padding: 16px; /* Espaciado interno */
}

.divimg {
  width: 100% !important;
  background-color: #fff; /* Color de fondo opcional */
  border-radius: 8px; /* Bordes redondeados opcionales */
  overflow: hidden; /* Esconde el desbordamiento */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

.image {
  width: 100%; /* Asegura que la imagen ocupa el 100% del contenedor */
  height: 200px; /* Establece una altura fija para todas las imágenes */
  object-fit: cover; /* Mantiene la proporción de la imagen y la recorta si es necesario */
}

.skill-item {
  display: inline-block;
  margin-right: 8px; /* Espaciado entre las habilidades */
  padding: 4px 8px; /* Espaciado interno */
  border: 1px solid #ccc; /* Bordes de habilidad */
  border-radius: 4px; /* Bordes redondeados */
}

.buttonaction {
  width: 100%;
  display: flex;
  margin-top: 5px;
  gap: 4px;

  span {
    padding: 1px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
  }
}
.disabledbutton {
  background-color: rgb(190, 190, 190) !important;
  cursor: not-allowed !important;
  border-radius: 5px;

  span {
    background-color: rgb(190, 190, 190) !important;
    border-radius: 5px;
  }
}

.skillsmid {
  width: 100%;
  max-width: 1170px;
  gap: 15px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap !important;
  margin: 0 auto;
}

.skillsitemmid {
  font-size: 25px !important;
}
.skillitemdiv {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1600px) {
  .gridimage {
    max-width: 1200px;
  }
  .divimg {
  }

  .titleportfoil {
    h1 {
      font-size: 100px;
    }
    span {
      font-size: 20px;
    }
  }

  .infosection {
    span {
      font-size: 30px;
    }
  }

  .skillsitemmid {
    font-size: 22px;
  }
}

@media (max-width: 1240px) {
  .gridimage {
    max-width: 1000px;
  }

  .infosection {
    span {
      font-size: 35px;
    }
  }

  .titleportfoil {
    h1 {
      font-size: 60px;
    }
    span {
      font-size: 20px;
    }
  }
}

@media (max-width: 1000px) {
  .gridimage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .divimg {
    width: 100%;
    height: auto; /* Cambiado a 'auto' para que la altura se ajuste automáticamente */

  }
}

@media (max-width: 1000px) {
  .headhome {
    flex-direction: column;
    justify-content: center !important;
    justify-items: center !important;
    align-items: center;
    gap: 10px;
  }

  .titleportfoil {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .divimg {
    width: 100%;
  }
  .skillsitemmid {
    font-size: 15px !important;
  }

  .skillsmid {
    padding: 0 50px;
    gap: 10px;
  }

  .headhome {
    padding: 50px 10px;
  }

  .navbar {
    padding: 0 50px;
  }

  .infosection {
    span {
      font-size: 20px;
    }
  }
}

@media (max-width: 480px) {
  .divimg {
    width: 100%;

  }
}
